page-contact {

	.text-input-md {
	    margin: 13px 0px;
	}

	#copyright {
		padding-bottom: 40px;
	    text-align: right;
	    color: #ababab;
	    text-shadow: 1px 1px 0 #fff;
	}
	#copyright a {
	    color: #7d7d7d;
	    font-weight: 800;
	    text-decoration: none;
	}

	ion-input, ion-textarea {
	    background-color: #f2f2f2;
	    color: #7d7d7d;
	    padding: 1em;
	    margin-top: 0.6em;
	}

	#submit {
		padding: 2em;
	}

	#submit:hover {
	    background: #fcea0f;
	}	

}
